/* start body */
body {
    
    color:coral; 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1,5em;
    margin: 0;
    padding: 0;
}
/* end body */

/* start debug */
. bg-blue {
    background-color: rgb(40, 5, 73); 
}
. bg-red {
        background-color: rgb(153, 51, 110);
}
/* end debug */

/* start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%
}
/* end Container */

/* start logo */
.logo {
    text-align: center ;
}
/ * end logo */